body {
    --navbar-inverse-bg: #004080;
    --navbar-inverse-toggle-hover-bg: #0059b3;
    --navbar-inverse-brand-color: #ffffff;
}

/* Navbar matn rangini aniqlashtirish */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffe600;
    background-color: #003366;
}
